<!DOCTYPE html>
<html>
  <head>
    <title>PwaTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="manifest" href="/manifest.json" />
    <link rel="canonical" href="https://ib-pwa-test.herokuapp.com/"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
